@font-face {
    font-family: 'fira_sansregular';
    src: url('../fonts/firasans-regular-webfont.eot');
    src: url('../fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/firasans-regular-webfont.woff') format('woff'),
         url('../fonts/firasans-regular-webfont.ttf') format('truetype'),
         url('../fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_monobold';
    src: url('../fonts/firamono-bold-webfont.eot');
    src: url('../fonts/firamono-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firamono-bold-webfont.woff2') format('woff2'),
         url('../fonts/firamono-bold-webfont.woff') format('woff'),
         url('../fonts/firamono-bold-webfont.ttf') format('truetype'),
         url('../fonts/firamono-bold-webfont.svg#fira_monobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansheavy';
    src: url('../fonts/firasans-heavy-webfont.eot');
    src: url('../fonts/firasans-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-heavy-webfont.woff2') format('woff2'),
         url('../fonts/firasans-heavy-webfont.woff') format('woff'),
         url('../fonts/firasans-heavy-webfont.ttf') format('truetype'),
         url('../fonts/firasans-heavy-webfont.svg#fira_sansheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansbold';
    src: url('../fonts/firasans-bold-webfont.eot');
    src: url('../fonts/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('../fonts/firasans-bold-webfont.woff') format('woff'),
         url('../fonts/firasans-bold-webfont.ttf') format('truetype'),
         url('../fonts/firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_monoregular';
    src: url('../fonts/firamono-regular-webfont.eot');
    src: url('../fonts/firamono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firamono-regular-webfont.woff2') format('woff2'),
         url('../fonts/firamono-regular-webfont.woff') format('woff'),
         url('../fonts/firamono-regular-webfont.ttf') format('truetype'),
         url('../fonts/firamono-regular-webfont.svg#fira_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight';
    src: url('../fonts/firasans-light-webfont.eot');
    src: url('../fonts/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-light-webfont.woff2') format('woff2'),
         url('../fonts/firasans-light-webfont.woff') format('woff'),
         url('../fonts/firasans-light-webfont.ttf') format('truetype'),
         url('../fonts/firasans-light-webfont.svg#fira_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}




body {
	line-height: 1;
	font-size: 12px;
	font-family: 'fira_sansregular';
	margin: 0;
	padding: 0;
	color: #000;
	background: #fff;
}

html,body {
	height: 100%;
}

* {
	vertical-align: top;
}

:focus {
	outline: none;
}

input[type="submit"]::-moz-focus-inner {
	border: none;
}

img {
	border: none;
}

h1, h2, h3, h4 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p{

}

ul, ul li {

}

ul {

}

ul li {

}

ul li a{

}

ol {

}

ol li {

}

a {
	font-size: 13px;
	font-family: 'fira_sansregular';
	color: #f0db4f;
}

a:hover {
	text-decoration: none;
}

input[type="text"] {

}

#all {
	height: 99%;
	width: 99%;
}


/*****************/
/******HEADER*****/
/*****************/

#header {
	background: #000;
}

.logo {
	float: left;
}

.mainMenu {
	margin: 0 50px;
	text-align: center;
}

.mainMenu ul,
.mainMenu ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.mainMenu ul li {
	display: inline-block;
	height: 100%;
	margin: 0 13px;
}

.mainMenu ul li a {
	display: block;
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	padding: 10px 0 0 0;
	height: 40px;
	line-height: 40px;
	font-family: 'fira_sansregular';
}

/*****************/
/*****CONTENT*****/
/*****************/

#main {

}

#content {

}

.titleBlock {
	height: 50px;
	line-height: 50px;
	background: #4a472d;
	font-family: 'fira_monobold';
	font-size: 18px;
	color: #fff;
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.blockInfo {
	background: #191919 url('../img/rhino.jpg') no-repeat center bottom;
	min-height: 600px;
	padding: 25px 0 0 0;
	text-align: center;
}

.eventSocial {
	width: 300px;
	text-align: right;
	margin: 0 auto;
	padding: 17px 0 24px 0;
}

.eventSocial ul,
.eventSocial ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.eventSocial ul li {
	display: inline-block;
	margin: 0 1px 0 15px;
}

.socialGitter {
	background: url('../img/gitter_icon.png') no-repeat left top;
	width: 24px;
	height: 24px;
	display: block;
}

.socialTwitter {
	background: url('../img/socialImg.png') no-repeat left top;
	width: 21px;
	height: 24px;
	display: block;
}

.socialFB {
	background: url('../img/socialImg.png') no-repeat -22px top;
	width: 11px;
	height: 24px;
	display: block;
}

.eventInfo {
	display: block;
	width: 290px;
	margin: 0 auto;
	text-align: left;
	font-family: 'fira_sansbold';
	font-size: 22px;
	color: #fff;
	padding: 0 0 18px 0;
	letter-spacing: 6px;
}

.blockSpeakers {
	background: #262626;
	text-align: center;
	font-size: 0;
}

.containerSpeakers {
	max-width: 1260px;
	margin: 0 auto;
	padding: 58px 0 30px 0;
}

.itemSpeaker {
	display: inline-block;
	vertical-align: top;
	width: 33.3%;
	padding-bottom: 32px;
}

.innerItemSpeaker {
	width: 100%;
	display: inline-block;
}

.imgSpeakerItem {
	display: inline-block;
	border-radius: 50%;
	border: 5px solid #fff;
	background: #fff;
	margin-bottom: 20px;
}

.imgSpeakerItem img {
	border-radius: 50%;
	width: 160px;
	height: 160px;
}

.nameSpeakerItem {
	display: block;
	font-family: 'fira_sansregular';
	font-size: 24px;
	color: #fff;
	margin-bottom: 10px;
}

.descSpeakerItem {
	display: block;
	font-family: 'fira_sansregular';
	font-size: 15px;
	line-height: 20px;
	color: #fff;
}

.nameSpeakerItem,
.descSpeakerItem {
  margin: 0 8px;
}

.btnRegister {
	text-align: center;
	font-size: 0;
	padding-bottom: 50px;
}

.btnRegister a {
	display: inline-block;
	height: 96px;
	line-height: 96px;
	font-family: 'fira_monoregular';
	font-size: 30px;
	color: #33cc00;
	text-decoration: none;
	border: 2px solid #33cc00;
	padding: 0 40px;
	letter-spacing: 9px;
}

.btnRegister .message {
	display: inline-block;
	line-height: 36px;
	font-family: 'fira_monoregular';
	font-size: 30px;
	color: #33cc00;
	text-decoration: none;
	padding: 20px 40px 0;
}

.btnRegister a:active {
	color: #f0db4f;
	border-color: #f0db4f;
}

.btnRegister.feedback a {
	display: inline-block;
	height: 96px;
	line-height: 96px;
	font-family: 'fira_monoregular';
	font-size: 30px;
	color: #FF8000;
	text-decoration: none;
	border: 2px solid #FF8000;
	padding: 0 40px;
	letter-spacing: 9px;
}

.blockMap {
	background: #f1f1f1;
}

.textBlockMap {
	text-align: center;
	padding: 35px 0 0 0;
}

.titleTextBlockMap {
	display: block;
	font-family: 'fira_monobold';
	font-size: 17px;
	color: #000;
	padding: 0 0 22px 0;
}

.locationTextBlockMap {
	display: block;
	font-family: 'fira_sanslight';
	font-size: 24px;
	color: #000;
	line-height: 28px;
	padding: 0 0 52px 0;
}

.locationTextBlockMap a{
  font-size: 24px;
  font-family: 'fira_sanslight';
  color: #000;
}

.mapBlockMap {
	text-align: center;
	font-size: 0;
	overflow: hidden;
}

.blockSchedule {
	background: #313131;
}

.containerSchedule {
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px 0;
}

.iconPartSchedule {
	float: left;
	width: 90px;
}

.iconPartSchedule:before {
	content: '';
	width: 30px;
	height: 30px;
	background-image: url('../img/iconsSchedule.png');
	background-repeat: no-repeat;
	display: block;
}

.partShedule_1 .iconPartSchedule:before {
	background-position: 0 0px;
}

.partShedule_2 .iconPartSchedule:before {
	background-position: 0 -30px;
}

.partShedule_3 .iconPartSchedule:before {
	display: none;
}

.partShedule_4 .iconPartSchedule:before {
	background-position: 0 -60px;
}

.partShedule_5 .iconPartSchedule:before {
	background-position: 0 -90px;
}

.partShedule_6 .iconPartSchedule:before {
	background-position: 0 -120px;
}

.partShedule_7 .iconPartSchedule:before {
	background-position: 0 -150px;
}

.containerSchedule .partSchedule {
	padding: 20px 0;
	border-top: 1px solid #363636;
}

.containerSchedule .partSchedule:first-child {
	border-top: none;
}

.not-ready {
  font-size: 36px;
  color: white;
  text-align: center;
  display: block;
}

.not-ready.m-inverse {
  color: #333;
}

.tablePartSchedule {
	margin-left: 90px;
}

.tablePartSchedule table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

.tablePartSchedule table tr,
.tablePartSchedule table tr td {
	margin: 0;
	padding: 0;
}

.tablePartSchedule table tr td {
	line-height: 20px;
	padding: 9px 0 7px 0;
}

.tablePartSchedule table tr:nth-child(odd) td {
	padding: 5px 0 3px 0;
	background: #2a2a2a;
	vertical-align: top;
}

.tablePartSchedule table tr:last-child:first-child td {
	background: none;
	/*padding: 6px 0 5px 0;*/
}

.tablePartSchedule table tr td:nth-child(1) {
	font-family: 'fira_monoregular';
	font-size: 18px;
	color: #33cc00;
	padding-left: 10px;
	width: 100px;
}

.tablePartSchedule table tr td:nth-child(2) {
	font-family: 'fira_sansregular';
	font-size: 16px;
	color: #fff;
	width: 200px;
	padding-right: 20px;
}

.tablePartSchedule table tr td:nth-child(3) {
	font-family: 'fira_monoregular';
	font-size: 18px;
	color: #fff;
}
.tablePartSchedule table thead tr td,
.tablePartSchedule table thead tr td:nth-child(1) {
	color: #fff;
}

.tablePartSchedule table tr td.highlight,
.eventInfo .highlight,
.descSpeakerItem .highlight {
	color: #f0db4f;
}

.blockPartners {
	background: #313131;
}

.blockPartners .titleBlock {
	background: #e3dfc6;
	color: #000;
}

.containerPartners {
	background: #e0e0e0;
	text-align: center;
	padding: 50px 0;
}

.partnersCategory {
	padding-bottom: 10px;
}

.partnersCategory img {
	margin: 0 30px 30px 30px;
	display: inline-block;
}

a.devpro img{
	width: 400px;
  display: inline-block;
}

a.picsio{
  height: 200px;
}

a.picsio:after{
  content: '\A';
  white-space: pre;
}

a.picsio img{
  width: 400px;
  display: inline-block;
}

a.global-logic img{
	width: 400px;
  display: inline-block;
}

a.dataart:after {
    content: '\A';
    white-space: pre;
}

a.waverly img{
  width: 400px;
  display: inline-block;
}

a.waverly:after{
  content: '\A';
  white-space: pre;
}

a.cleveroad:after{
  content: '\A';
  white-space: pre;
}

a.cleveroad img{
  width: 400px;
  display: inline-block;
}

a.cryptoneat:after {
  content: '\A';
  white-space: pre;
}

a.sigma:after {
  content: '\A';
  white-space: pre;
}

a.sigma img{
  width: 400px;
  display: inline-block;
}

a.dataart img{
	width: 400px;
  display: inline-block;
}

a.cryptoneat img{
  width: 400px;
  display: inline-block;
}

a.eleks:after {
  content: '\A';
  white-space: pre;
}

.titlePartnersCategory {
	color: #787880;
	text-transform: uppercase;
	font-size: 24px;
	display: block;
	padding-bottom: 35px;
}
