:root {
	--yellow: #F0DB53;
	--mobilePadding: 24px;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

* {
  vertical-align: top;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

:focus {outline: none;}
input[type="submit"]::-moz-focus-inner {border: none;}
html, body{height:100%; width:100%; margin:0; padding:0;}

body {
	font-family: 'PingFang SC', sans-serif;
	color: #9C9C9C;
	line-height: 1;
	background: #fff;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
}

p {
	font-size: 1rem;
	padding: 0;
	margin: 0 0 1rem 0;
}

a {
	font-family: inherit;
	font-size: inherit;
	color: #7c868f;
	font-weight: inherit;
	font-style: inherit;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0 0 1rem 0;
	font-weight: 400;
}

h1 {
	font-size: 3.6rem;
}

h2 {
	font-size: 2.1rem;
}

h3 {
	font-size: 1.4rem;
	line-height: 1.2;
	letter-spacing: -0.7px;
}

h4 {

}

ul, ul li {

}

ul {

}

ul li {

}

ul li a{

}

ol {

}

ol li {

}

input[type="text"],
input[type="password"] {

}


/*****************/
/*****CONTENT*****/
/*****************/

.wrapper {
	height: 100%;
	display: flex;
}

.actionBar,
.infoBar {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

/******************/
/****ACTION BAR****/
/******************/
.actionBar {
	background: #000 url('../img/background-rhino.png') no-repeat left top;
	background-size: 90%;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.actionBarTop,
.actionBarBottom {
	padding-top: 35px;
	margin: 0 4rem;
}

.actionBarBottom {
	padding-bottom: 30px;
}

.conferenceDate {
	font-size: 1rem;
	padding-bottom: 70px;
}

h1.conferenceTitle {
	padding: 0 0 10px 0;
	margin: 0 0 0 -4px;
}

h1.conferenceTitle span {
	color: var(--yellow);
}

.conferenceDesc {
	font-size: 1rem;
	padding-bottom: 50px;
}

.conferenceDesc br {
	display: none;
}

.uaFlag {
	background: url('../img/ukraine.svg') no-repeat left top;
	width: 23px;
	height: 24px;
	display: inline-block;
}

.conferencePrice {
	padding-bottom: 15px;
}

.conferencePrice .conferencePriceTitle {
	display: block;
	font-size: 0.7rem;
	color: var(--yellow);
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

.conferencePrice .conferencePriceValue {
	display: block;
	font-size: 1.6rem;
}

.conferencePrice .conferencePriceValue span {
	font-size: 1rem;
	padding: 2px 5px 0 0;
	display: inline-block;
}

.conferenceBtns {

}

.btnRegister {
	font-size: 0.85rem;
	color: #000;
	background: var(--yellow);
	border-radius: 4px;
	width: 10rem;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	display: block;
	transition: all .2s ease-in-out;
}

.btnRegister:hover {
	box-shadow: 0 0 16px 0 rgba(240,219,83,1.0);
}

.btnCallPaper {
	font-size: 0.85rem;
	width: 10rem;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	display: block;
	color: #fff;
	transition: all .1s ease-in-out;
}

.btnCallPaper:hover {
	transform: translate(0,-4px);
}

.btnCallPaper span {
	border-bottom: 2px solid rgba(255,255,255,.15);
}

.conferenceSocial {
	display: flex;
	margin-bottom: 24px;
}

.conferenceSocial a {
	margin-right: 40px;
	width: 48px;
	height: 48px;
	background-size: contain;
	opacity: 0.5;
	transition: all .2s ease-in-out;
}

.conferenceSocial a:hover {
	opacity: 1;
}

.fb {
	background: url('../img/fb.svg') no-repeat center;
}

.tw {
	background: url('../img/tw.svg') no-repeat center;
}

.yt {
	background: url('../img/yt.svg') no-repeat center;
}

.actionBarMenu {
	margin-bottom: 40px;
}

.actionBarMenu ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.actionBarMenu ul li {
	margin: 0 1.9rem 0 0;
	padding: 0;
	transition: all .1s ease-in-out;
}

.actionBarMenu ul li:last-child {
	margin-right: 0;
}

.actionBarMenu ul li:hover {
	transform: translate(0,-4px);
}

.actionBarMenu ul li a {
	font-size: 1rem;
	color: #fff;
	border-bottom: 2px solid rgba(255,255,255,.15);
	cursor: pointer;
	text-decoration: none;
	display: block;
}

/******************/
/*****INFO BAR*****/
/******************/
.infoBar {
	color: #000;
	position: relative;
}

.infoBarInner {
	margin: 0 4rem;
}

h2.titleContainer {
	margin: 0 0 20px 0;
}

.contentContainer {
	margin-bottom: 100px;
}

.mobileMenu {
	display: none;
}

@keyframes mainMenu {
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}
.mainMenu {
	transform: translateY(-100%);
	opacity: 0;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 32px 0 14px 0;
	background: #fff;
	margin: 0 -4rem;
	margin-bottom: 40px;
	animation: mainMenu 1s linear 1.5s forwards;
	z-index: 2;
	padding-right: 4rem;
    padding-left: 4rem;
}

.mainMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mainMenu ul li {
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.mainMenu ul li a {
	color: #F34033;
	border-bottom: 2px solid #DFDFDF;
	text-decoration: none;
	display: inline-block;
	padding-top: 5px;
	transition: all .1s ease-in-out;
}

.mainMenu ul li:not(.act) a:hover {
	transform: translate(0,-4px);
}

.mainMenu ul .act a {
	color: #000;
	border-color: transparent;
	cursor: default;
}

.mainMenu ul .up a {
	background: url('../img/up.png') no-repeat left top / contain;
	width: 18px;
	height: 23px;
	padding: 0;
	margin-top: 3px;
	border: none;
}

.mainMenu ul .btnSandwich,
.mainMenu ul .btnRegisterMenu {
	display: none;
}

/******************/
/*****SPEAKERS*****/
/******************/

.itemSpeaker {
	background: #F5F5F5;
	padding: 24px;
	display: grid;
	margin-bottom: 40px;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "photo topic" "photo data";
}

.itemSpeaker h3 {
	grid-area: topic;
	margin: 0 0 16px 0;
}

.itemSpeakerPhoto {
	grid-area: photo;
	margin-right: 24px;
	width: 192px;
	height: 192px;
	overflow: hidden;
	perspective: 1000px;
}

.itemSpeakerPhoto .innerItemSpeakerPhoto {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	height: 100%;
}
.itemSpeakerPhoto img,
.itemSpeakerPhoto .itemSpeakerTopicDesc {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: #ddd;
}
.itemSpeakerPhoto .innerItemSpeakerPhoto img {
	width: 100%;
}
.itemSpeakerPhoto .innerItemSpeakerPhoto .itemSpeakerTopicDesc {
	transform: rotateY(180deg);
	width: 100%;
	height: 100%;
	font-size: 0.65rem;
	color: #616161;
	line-height: 1.2;
	padding: 10px;
	box-sizing: border-box;
}

.itemSpeakerTopicDesc:empty::before {
	content: 'Topic description will be added soon';
}

.itemSpeaker:hover .innerItemSpeakerPhoto {
	transform: rotateY(180deg);
}

.itemSpeakerData {
	grid-area: data;
}

.itemSpeakerData > div:last-child {
	padding-bottom: 0;
}

.itemSpeakerName {
	font-size: 1rem;
	padding-bottom: 9px;
}

.itemSpeakerDesc,
.itemSpeakerCity {
	font-size: 0.65rem;
	color: #757575;
	line-height: 1.2;
	padding-bottom: 10px;
}

/******************/
/*****SCHEDULE*****/
/******************/

.scheduledDaysMenu {
	margin-bottom: 45px;
}

.scheduledDaysMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.scheduledDaysMenu ul li {
	font-size: 1rem;
	color: #F34033;
	border-bottom: 1px solid #DFDFDF;
	cursor: pointer;
	margin-right: 40px;
}

.scheduledDaysMenu ul li:last-child {
	margin-right: 0;
}

.scheduledDaysMenu ul li:hover {
	border-color: transparent;
}

.scheduledDaysMenu ul .act {
	color: #000;
	cursor: default;
	text-decoration: none;
	border-color: transparent;
}

.scheduledDaysContent {

}

.scheduledDaysContent .scheduledDay {
	display: none;
}

.scheduledDaysContent .scheduledDay.act {
	display: block;
}

.stageScheduledDay {
	margin-bottom: 40px;
}

.stageScheduledDay .stageScheduledDayTitle {
	font-size: 1rem;
	letter-spacing: 3px;
	text-transform: uppercase;
	border-bottom: 1px solid #CCCCCC;
	padding: 20px 0;
	height: 28px;
	line-height: 28px;
}

.stageScheduledDay .stageScheduledDayTitle img {
	padding-top: 1px;
}

.stageScheduledDay .itemSchedule {
	font-size: 0.9rem;
	display: flex;
	border-bottom: 1px solid #CCCCCC;
	padding: 18px 0;
}

.stageScheduledDay .itemSchedule .scheduledTalkTime {
	flex: 0 0 50px;
	padding-right: 10px;
	color: rgba(0,0,0,.4);
}

.stageScheduledDay .itemSchedule .scheduledSpeakerName {
	flex: 0 0 160px;
	padding-right: 10px;
}

.stageScheduledDay .itemSchedule .scheduledSpeakerName.grey {
	color: rgba(0,0,0,.6);
}

.stageScheduledDay .itemSchedule .scheduledTalkTitle {
	flex: 1 1 auto;
}

/******************/
/*****PARTNERS*****/
/******************/

.partnersContainer {

}

.partnersText {
	font-size: 0.9rem;
	line-height: 1.2;
	margin-bottom: 64px;
}

.partnersText a {
	color: #F34033;
}

.partnerBlockTitle {
	font-size: 1rem;
	letter-spacing: 3px;
	text-transform: uppercase;
	border-bottom: 1px solid #CCCCCC;
	margin: 0 -4rem;
	padding: 0 4rem 20px 4rem;
}

.listPartners {
	margin-bottom: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.listPartners .itemPartner {
	margin: 30px 15px 0 15px;
}

/******************/
/*****Place*****/
/******************/
.mapBlockMap {
	width: 100%;
}

.mapBlockMap #map-canvas {
	height: 480px;
	margin: 0 -4rem;
}

.contactAddressBox {
	margin-top: 24px;
	margin-bottom: 8px;
	color: #F34033;
	font-size: 1rem;
}

.contactAddressBoxSmall {
	font-size: 0.65rem;
	margin-bottom: 24px;
	
}

.contactSeparator {
	margin-bottom: 16px;
	height: 1px;
	background: rgba(0,0,0,0.4);
}

.contactEmailBox {
	margin-top: 16px;
	margin-bottom: 12px;
	font-size: 1rem;
	color: #F34033;
}

.contactEmailBox span.contactEmail {
	border-bottom: 1px solid rgba(0,0,0,0.4);
	display: inline-block;
}

.contactPhone {
	font-size: 1rem;
}


/******************/
/*****Video*****/
/******************/


.videoContentContainer {
	margin-bottom: 72px;
}

.videoContentContainer .itemVideo iframe {
	width: 100%;
}
.videoContentContainer .itemVideo:nth-child(1) iframe {
	width: 80%;
}

.videoContentContainer .itemVideo:nth-child(3) iframe {
	margin-left: 20%;
	width: 80%;
}

.videoContainer h2 {
	margin: 0 0 48px 0;
}

.videoContainer .itemVideo {
	margin-bottom: 24px;
}

.videoContainer  a {
	font-size: 1.4rem;
	color: #FF0002;
	line-height: 1.2;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0.4);
	display: inline-block;
}

.videoContainer .photoContainerChannel a {
	color: #4460A0;
}

.videoContainer .photoContainerChannel img,
.videoContainer .photoContainerChannel a {
	vertical-align: middle;
}

.videoContainer .videoContainerChannel {
	margin-bottom: 72px;
}

.videoContainer .videoContainerChannel a,
.videoContainer .videoContainerChannel img {
	vertical-align: middle;
}

.videoContainer .videoContainerChannel img {
	margin-right: 16px;
}

.videoContainer .photoContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.videoContainer .photoContainer .photoItem{
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 46.6%;
	margin-bottom: 8.3%;
}

.videoContainer .photoContainer .photoItem img {
	width: 100%;
}

.photoContainer {
	margin-bottom: 36px;
}

html {
	font-size: 20px;
}

@media (max-width: 1279px) {
	html {
		font-size: 16px;
	}
}

@media (max-width: 1023px) {
	html {
		font-size: 20px;
	}

	.wrapper {
		flex-direction: column;
		height: auto;
	}

	.infoBar {
		flex: none;
		overflow: initial;
	}
	.actionBar {
		flex: 1 0 730px;
		background-size: 580px;
	}

	.actionBarTop,
	.actionBarBottom,
	.infoBarInner {
		margin: 0 95px;
	}

	.partnerBlockTitle {
		margin: 0 -95px;
		padding: 0 95px 20px 95px;
	}

	.mainMenu ul .up {
		display: none;
	}
	.mainMenu ul .btnRegisterMenu {
		display: block;
	}
	.mainMenu ul .btnRegisterMenu a {
		width: 155px;
		height: 40px;
		line-height: 40px;
		color: #000;
		font-size: 17px;
		text-align: center;
		background: var(--yellow);
		border-radius: 4px;
		border: none;
		padding: 0;
	}

	.itemSpeakerTopicDesc {
		grid-area: description;
		color: #757575;
		line-height: 1.2;
		font-size: 0.8rem;
		margin-top: 20px;
		padding: 0;
	}
	.itemSpeakerPhoto {
		width: 96px;
		height: 96px;
		margin-right: 16px;
	}
	.itemSpeaker {
		grid-template-rows: auto auto auto;
		grid-template-columns: auto 1fr;
		grid-template-areas: "photo topic" "data data" "description description";
	}
	.itemSpeakerData {
		margin-top: 16px;
	}
	.itemSpeakerDesc, .itemSpeakerCity {
		font-size: 0.8rem;
	}
}

@media (max-width: 767px) {
	html {
		font-size: 16px;
	}
	h2 {
		padding-left: var(--mobilePadding);
		padding-right: var(--mobilePadding);
	}
	.actionBar {
		background-size: 390px;
		background-position: -90px 0;
		flex: none;
	}
	.conferenceDesc {
		line-height: 1.4;
	}
	.conferenceDesc br {
		display: block;
	}
	.conferencePrice .conferencePriceTitle {
		font-size: 13px;
		letter-spacing: 3px;
	}
	.btnRegister,
	.btnCallPaper {
		width: 100%;
		height: 48px;
		line-height: 48px;
		font-size: 16px;
	}
	.actionBarBottom {
		display: none;
	}
	.mobileMenu {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: #000;
		padding: 27px;
		box-sizing: border-box;
		overflow: auto;
	}
	.mobileMenu.act {
		display: block;
	}
	.closeMobileMenu {
		position: absolute;
		right: 15px;
		top: 14px;
		cursor: pointer;
		color: #fff;
		transform: rotate(45deg);
		padding: 10px;
		font-size: 44px;
		display: block;
		height: 20px;
		line-height: 20px;
	}
	.conferenceSocial {
		margin-bottom: 32px;
	}
	.conferenceSocial a {
		opacity: 1;
	}
	.actionBarMenu ul {
		flex-direction: column;
	}
	.actionBarMenu ul li {
		margin-bottom: 16px;
	}
	.actionBarMenu ul li a {
		font-size: 20px;
		display: inline-block;
	}

	.listMobileMenu {
		margin-bottom: 70px;
	}
	.listMobileMenu ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.listMobileMenu ul li {
		font-size: 20px;
		color: #fff;
		margin-bottom: 24px;
	}

	.listMobileMenu ul li span {
		color: var(--yellow);
	}

	.listMobileMenu ul li a {
		color: #F34033;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid #686868;
	}

	.mainMenu {
		padding: var(--mobilePadding);
		box-sizing: border-box;
		width: 100%;
		margin: 0;
	}
	.mainMenu ul li {
		display: none;
	}
	
	.mainMenu ul .btnSandwich,
	.mainMenu ul .btnRegisterMenu {
		display: block;
	}

	.mainMenu ul .btnSandwich {
		padding: 10px;
		margin: -10px;
	}

	.actionBarTop,
	.actionBarBottom,
	.infoBarInner {
		margin: 0;
	}

	.partnerBlockTitle {
		margin: 0;
		padding: 0 var(--mobilePadding) 20px var(--mobilePadding);
	}


	.photoContainerChannel {
		margin: 0 var(--mobilePadding);
	}
	.videoContainer a {
		font-size: 1.2rem;
	}
	.videoContainer .videoContainerChannel {
		margin-right: var(--mobilePadding);
		margin-left: var(--mobilePadding);
	}
	.videoContentContainer .itemVideo:nth-child(1) iframe,
	.videoContentContainer .itemVideo:nth-child(3) iframe {
		width: 100%;
		margin: 0;
	}

	.locationContainer .contentContainer {
		margin-right: var(--mobilePadding);
		margin-left: var(--mobilePadding);
	}
	.mapBlockMap #map-canvas {
		height: 200px;
		margin-right: calc(-1 * var(--mobilePadding));
		margin-left: calc(-1 * var(--mobilePadding));
	}
	.contactAddressBox,
	.contactAddressBoxSmall,
	.contactEmailBox,
	.contactPhone {
		font-size: 20px;
	}
	.listPartners {
		margin-right: var(--mobilePadding);
		margin-left: var(--mobilePadding);
	}
	.partnersText {
		font-size: 16px;
		line-height: 1.5;
		margin-right: var(--mobilePadding);
		margin-left: var(--mobilePadding);
	}

	.stageScheduledDay {
		padding-right: var(--mobilePadding);
		padding-left: var(--mobilePadding);
	}
	.stageScheduledDay .itemSchedule {
		flex-direction: column;
		padding-left: 68px;
		position: relative;
	}
	.stageScheduledDay .itemSchedule .scheduledTalkTime {
		position: absolute;
		left: 0;
		top: 18px;
	}
	.stageScheduledDay .itemSchedule .scheduledSpeakerName {
		flex: none;
		padding: 0 0 10px 0;
	}
	.scheduledDaysMenu {
		margin: 0 var(--mobilePadding) 25px var(--mobilePadding);
	}
	
	.actionBarTop,
	.actionBarBottom {
		padding: var(--mobilePadding);
	}
}